.buttonContainer, .actionContainer, .animalsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
    text-align: center;
}

.animalsContainer{
    height: 400px;
    margin: 50px;
}

.buttonBox, .actionBox {
    width:auto;
}

#animals{
    width:auto;
    height: 150px;
}

.animalsBox{
    /* align-items: baseline; */
    width: 150px;
    height: 150px;
    position: relative;
}
.animalsImg{
    /* position: absolute; */
    /* bottom:100px; */
}

img {
    width:150px;
    height: 150px;
}

.animalImgName {
    margin:5px;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.animalPoop {
    position: absolute;
    bottom:0px;
    right:50%;
    width:20px;
    height:20px;
}

.kitten { 
    width:50px;
    height:50px;
    bottom:0px;
}

button {
    height: 50px;
    width:150px;
    background-color: green;
    border-radius: 10px;
    font-size: 2em;
    text-shadow: 2px 2px gray;
    border: 0px ;
    box-shadow: 5px 5px 10px rgb(42, 58, 42);
}

#message{
    font-size: 24px;
    text-align: center;
}

