.buttonContainer, .actionContainer, .animalsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.animalsContainer{
    height: 300px;
}

.buttonBox, .actionBox {
    width:auto;
}

#animals{
    width:auto;
    height: 150px;
}

.animalsBox{
    align-items: baseline;
    width: 150px;
    height: 150px;
    position: relative;
}
.animalsImg{

}

img {
    width:150px;
    height: 150px;
}

p {
    margin:5px;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.animalPoop {
    position: absolute;
    bottom:0px;
    right:50%;
    width:20px;
    height:20px;
}

.kitten { 
    width:50px;
    height:50px;
    bottom:0px;
}