* {box-sizing: border-box;}

body {
    color:white;
}
#main{
    text-align: center;
}

.box{
    padding: 10px;
}

#container {
    width:60%;
    padding: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    
    justify-content:center;
    /* align-items:; */

}


#rollDice {
    visibility: visible;
  }
  
#startAgain {
    visibility: hidden;
  }

