.square {
    width: 300px;
    height:100px;
    background-color: indigo;
    animation-name: button;
    animation-duration: 4s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    /* transition: 2s; */
    /* animation-iteration-count: infinite; */
    
}

/* .square:hover{
    border-radius: 50%;
} */

.square:hover{
    animation-play-state: running;
}

@keyframes button {
    0%{
background-color: rgb(174, 88, 235);
box-shadow: 6px 6px 0 darkgrey;
    }
    50%{
        background-color: rgb(202, 184, 216);
        box-shadow: 6px 6px 0 darkslategray;
    }

    100%{
        background-color: rgb(58, 5, 95);
        box-shadow: 6px 6px 0 black;
    }

}